In [1]:
import pandas as pd

name = ["keyboard","doll","mouse"]
category = ["IT","TOY","IT"]
price = [4000,500,300]

In [2]:
s_name = pd.Series(name)
s_category = pd.Series(category)
s_price = pd.Series(price)

datas = {"Name":s_name,"Category":s_category,"Price":s_price}
df = pd.DataFrame(datas)
df

       Name Category  Price
0  keyboard       IT   4000
1      doll      TOY    500
2     mouse       IT    300

In [3]:
df.to_csv("csv/csv_write.csv")

In [4]:
df.to_csv("csv/csv_write.csv",header=False,index=True)

In [5]:
df.to_csv("csv/csv_write.csv",header=True,index=False)