In [16]:
import pandas as pd

df = pd.read_csv("csv/csv_write.csv",encoding="utf-8")
df

       Name Category  Price
0  keyboard       IT   4000
1      doll      TOY    500
2     mouse       IT    300

In [17]:
cols = ["Name","Price"]
df = pd.read_csv("csv/csv_write.csv",encoding="utf-8",usecols=cols)
df

       Name  Price
0  keyboard   4000
1      doll    500
2     mouse    300

In [18]:
df = pd.read_csv("csv/csv_write.csv",encoding="utf-8",usecols=cols,index_col="Name")
df

          Price
Name
keyboard   4000
doll        500
mouse       300

In [19]:
df = pd.read_csv("csv/csv_read.csv",encoding="utf-8")
df

  keyboard   IT  4000
0     doll  TOY   500
1    mouse   IT   300

In [20]:
colsName = ["Name","Category","Price"]
df = pd.read_csv("csv/csv_read.csv",encoding="utf-8",names=colsName)
df

       Name Category  Price
0  keyboard       IT   4000
1      doll      TOY    500
2     mouse       IT    300