In [4]:
import pandas as pd 

datas = [ ["keyboard","IT",4000]
            ,["doll","TOY",500]
            ,["mouse","IT",300] ]

cols = ["Name", "Category", "Price"]

In [5]:
df = pd.DataFrame(datas,columns=cols)
df

       Name Category  Price
0  keyboard       IT   4000
1      doll      TOY    500
2     mouse       IT    300