In [3]:
import pandas as pd 

datas = [10,20,30,40,50]

In [4]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [5]:
cols = ["Age"] # list only, not tuple

df = pd.DataFrame(datas,columns=cols)
df

   Age
0   10
1   20
2   30
3   40
4   50