In [15]:
import pandas as pd 

product = [
            {"Name":"Keyboard","Category":"IT","Price":500},
            {"Name":"Mouse","Category":"IT","Price":4000},
            {"Name":"Doll","Category":"TOY","Price":30}
        ]

In [16]:
data = pd.DataFrame(product)
data

       Name Category  Price
0  Keyboard       IT    500
1     Mouse       IT   4000
2      Doll      TOY     30

In [17]:
data.set_index(["Name"], inplace=True)
data

         Category  Price
Name
Keyboard       IT    500
Mouse          IT   4000
Doll          TOY     30