In [6]:
import pandas as pd 

cols = ["Name", "Category", "Price"]

product1 = ["keyboard","IT",4000]
product2 = ["doll","TOY",500]
product3 = ["mouse","IT",300]

In [7]:
datas = list(zip(product1,product2,product3))
df = pd.DataFrame(datas,columns=cols)
df

       Name Category  Price
0  keyboard     doll  mouse
1        IT      TOY     IT
2      4000      500    300

In [8]:
name = ["keyboard","doll","mouse"]
category = ["IT","TOY","IT"]
price = [4000,500,300]

datas = list(zip(name,category,price))
datas

[('keyboard', 'IT', 4000), ('doll', 'TOY', 500), ('mouse', 'IT', 300)]

In [9]:
df = pd.DataFrame(datas,columns=cols)
df

       Name Category  Price
0  keyboard       IT   4000
1      doll      TOY    500
2     mouse       IT    300