In [5]:
import pandas as pd 

name = ["keyboard","doll","mouse"]
category = ["IT","TOY","IT"]
price = [4000,500,300]

In [6]:
s_name = pd.Series(name)
s_category = pd.Series(category)
s_price = pd.Series(price)

datas = {"Name":s_name,"Category":s_category,"Price":s_price}
datas

{'Name': 0    keyboard
 1        doll
 2       mouse
 dtype: object,
 'Category': 0     IT
 1    TOY
 2     IT
 dtype: object,
 'Price': 0    4000
 1     500
 2     300
 dtype: int64}

In [9]:
df = pd.DataFrame(datas)
df.set_index(["Name"],inplace=True)
df

         Category  Price
Name
keyboard       IT   4000
doll          TOY    500
mouse          IT    300